*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --primary-color: #003c1d; 
    --secondary-color: #351a00; 
    --background-color: #ffffd2;
    --transparent-background-color-light: rgba(255, 255, 255, 0.75);
    --transparent-background-color-dark: rgba(0, 60, 29, 0.75);
    --button-color: #91c174;
    --button-color-hover: #cc9b6e;
    --button-color-correct: #003c1d;
    --button-color-wrong: #351a00; 
    --text-color-light: white; 
    --text-color-dark: #003c1d; 
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

main {
    display: flex;
    width: 100vw;
    height: 110vh;
    justify-content: center;
    align-items: center;
}

p {
    background-color: var(--transparent-background-color-dark);
    color: var(--text-color-light);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin: 0;
    height: 70px;
    width: 200px;
    border-radius: 5px;
}

.container {
    width: 400px;
    max-width: 80%;
    background-color: var(--transparent-background-color-light);
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn,
.score {
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 5px;
    padding: 10px;
    color: var(--text-color-dark);
    outline: none;
    font-size: 20px;
    margin: 5px 10px;
}


.btn {
    cursor: pointer;
}

.btn:hover {
    background-color: var(--button-color-hover);
    border: 1px solid var(--button-color-hover);
}

.btn.correct {
    background-color: var(--button-color-correct);
    color: var(--text-color-light);
}

.btn.wrong {
    background-color: var(--button-color-wrong);
    color: var(--text-color-light);
}

.start-btn,
.next-btn,
.input-btn,
.view-scores-btn,
.clear-scores-btn,
.try-again-btn,
.complete-btn {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

#score-board-header {
    font-size: 30px;
    font-weight: bold;
    color: var(--text-color-dark);
}

.score-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

